reviews.json
processing_times_comparison.csv
processing_times_comparison.png
processing_times_comparison2.png
cl23211.exe
cl28758.exe
cl28758B.exe
client.exe
cliente190.exe
cliente1905.exe
cliente19056.exe
clienteW.exe
server.exe
server190.exe
servidorW.exe
sr23211.exe
sr28758.exe
report.log
report.log.1
report.log.2
report.log.3
report.log.4
report.log.5
report.log.6
report.log.7
report.log.8
report.log.9
report.log.10
report.log.11
report.log.20
parallel_times.csv
secuential_times.csv
sequential_times.csv
PSO.csv
PSO_sequential.csv
Genetico_sequential.csv
AIS_Parallel.csv
AG_parallel.csv